* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: square inside;
}

.main_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40vw;
  align-items: center;
  text-align: center;
}

.title {
  color: rgb(33, 49, 122);
}

.task-list_container {
  margin-top: 40px;
  width: 300px;
  text-align: start;
}

.task_input {
  margin-right: 20px;
  padding: 5px;   
}

.add_btn {
  padding: 6px 15px;
  color: azure;
  background-color: rgb(33, 49, 122);
  border: none;
}

.task_list {
  font-size: 18px;
  color: rgb(33, 49, 122);
}

.done {
  color: rgb(102, 118, 185);
  text-decoration: line-through;
}

